$momo-white:#fff;
$momo-blue:#3868fb;
$momo-blue-font:#00adfe;
$momo-grey:#f4f3f2;
$momo-grey-font:#969696;
$momo-lightgrey-font:#aaaaaa;
$momo-darkgrey-font:#323333;
$momo-lightblue-font:#3462ff;
$momo-grey-tip:#787878;
$momo-grey-new:#6e6e6e;
$momo-light-blue:#9edaf1;
$momo-black:#202020;
$momo-pink:#fda6ba;
$momo-ligth-black:#3c3c3c;
$border-color :#ececeb;
$momo-grey-bg-new:#f5f5f5;
$grey-border:#eee;
$shadow-ground:rgba(0, 0, 0, .4);