@define-extend border-bottom {
    border-bottom: 1px solid #f0f0f0;
}

@define-extend border-top {
    border-top: 1px solid #f0f0f0;
}

@define-extend border-left {
    border-left: 1px solid #f0f0f0;
}

@define-extend border-right {
    border-right: 1px solid #f0f0f0;
}
